<div class="row bg-success bg-gradient border border-dark">
  <h1 class="col-12">Exercise 1</h1>
</div>
<div class="row ">
  <ex1></ex1>
</div>
<div class="row bg-success bg-gradient border border-dark">
  <h1 class="col-12">Exercise 2</h1>
</div>
<div class="row ">
  <ex2></ex2>
</div>
<div class="row bg-success bg-gradient border border-dark">
  <h1 class="col-12">Exercise 3</h1>
</div>
<div class="row ">
  <div class="top-section col-12 text-end m-0">
    <p class="m-0 pt-3">{{dateTime| date:'EEEE, MMMM d, y &ndash; h:mm:ss a'}}</p>
  </div>
  <router-outlet></router-outlet>
</div>